body {
    font-family: Arial, sans-serif;
    background-color:white;
}

h1{
    color:rgb(74, 72, 72);
}

.seat21 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;

}

.seat22 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat23 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat24 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat25 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat26 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat27 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat28 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat29 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat30 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat32 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}

.seat33 {
    width: 50px;
    height: 50px;
    border-radius: 1px solid;
    position: relative;
}
.seat34 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat35 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat36 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat37 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat38 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat39 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat40 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}
.seat41 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat42 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat43 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;

}

.seat44 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat45 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat46 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat47 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat48 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat49 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat50 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat51 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat53 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat54 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}

.seat55 {
    width: 50px;
    height: 50px;
    border-radius: 1px solid;
    position: relative;
}
.seat56 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat57 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat58 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat59 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat60 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat61 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat62 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}
.seat63 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat64 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;

}

.seat65 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat66 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat67 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat68 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat69 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat70 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat71 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat72 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat74 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat75 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}

.seat76 {
    width: 50px;
    height: 50px;
    border-radius: 1px solid;
    position: relative;
}
.seat77 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat78 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat79 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat80 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat81 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat82 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat83 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}
.seat84 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat85 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;

}

.seat85 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat86 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat87 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat88 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat89 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat90 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat91 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat92 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat93 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat95 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}

.seat96 {
    width: 50px;
    height: 50px;
    border-radius: 1px solid;
    position: relative;
}
.seat97 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat98 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat99 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat101 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat102 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat103 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat104 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}
.seat105 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat106 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;

}

.seat107 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat108 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat109 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat110 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat111 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat112 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat113 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat114 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat115 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat117 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}

.seat118 {
    width: 50px;
    height: 50px;
    border-radius: 1px solid;
    position: relative;
}
.seat119 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat120 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat121 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
    
}
.seat122 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat123 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat124 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
}
.seat125 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}
.seat126 {
    width: 50px;
    height: 50px;
    border-radius:1px solid; 
    position: relative;
   
}

.seat-map {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
         
    }
.seat{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
.seating {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
.seato {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
.map {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
.set {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
#one {
    color:rgb(52, 51, 51);
}
#two {
    color:rgb(56, 55, 55);
}
#three {
    color:rgb(58, 57, 57);
}
#four {
    color:rgb(55, 53, 53);
}
#five {
    color:rgb(81, 79, 79);
}
#six {
    color:rgb(67, 65, 65);
}
#screen {
    font-size:30px;
}
.img {
    margin:10px;
}
input[type="checkbox"] {
    display:none;
}

label {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #9f9e9e;
    border-radius: 5px;
    cursor: pointer;
}

input[type="checkbox"]:checked + label {
    background-color: #4f9739;
}
#book{
    background-color: #4f9739;
    position: absolute;
    bottom:100px;
    left:100px;
}
@media screen and (max-width: 600px) {
    .seat1, .seat2, .seat3, .seat4, .seat5, .seat6,
    .seat7, .seat8, .seat9, .seat10, .seat11, .seat12,
    .seat13, .seat14, .seat15, .seat16, .seat17, .seat18,
    .seat19, .seat20, .seat21, .seat22, .seat23, .seat24,
    .seat25, .seat26, .seat27, .seat28, .seat29, .seat30,
    .seat31, .seat32, .seat33, .seat34, .seat35, .seat36,
    .seat37, .seat38, .seat39, .seat40, .seat41, .seat42,
    .seat43, .seat44, .seat45, .seat46, .seat47, .seat48,
    .seat49, .seat50, .seat51, .seat52, .seat53, .seat54,
    .seat55, .seat56, .seat57, .seat58, .seat59, .seat60,
    .seat61, .seat62, .seat63, .seat64, .seat65, .seat66,
    .seat67, .seat68, .seat69, .seat70, .seat71, .seat72,
    .seat73, .seat74, .seat75, .seat76, .seat77, .seat78,
    .seat79, .seat80, .seat81, .seat82, .seat83, .seat84,
    .seat85, .seat86, .seat87, .seat88, .seat89, .seat90,
    .seat91, .seat92, .seat93, .seat94, .seat95, .seat96,
    .seat97, .seat98, .seat99, .seat100, .seat101, .seat102,
    .seat103, .seat104, .seat105, .seat106, .seat107, .seat108,
    .seat109, .seat110, .seat111, .seat112, .seat113, .seat114,
    .seat115, .seat116, .seat117, .seat118, .seat119, .seat120,
    .seat121, .seat122, .seat123, .seat124, .seat125, .seat126 {
        width: 50px;
        height: 50px;
        border-radius: 1px solid;
        position: relative;
    }
}