body {
    font-family: "Montserrat", serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.airport-list {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: -60px;
}

.btn-primary {
    background-color: #e60000;
    border-color: #e60000;
}



.airport-tiles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.airport-tile {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    position: relative;
}

.airport-code {
    font-size: 1rem;
    font-weight: bold;
    color: #e60000;
    margin-bottom: 10px;
}

.airport-tile button {
    background-color: #e60000;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
}

.airport-tile button:hover {
    background-color: #c20000;
}

/* Flashcard styling */
.more-details {
    position: relative;
    top:10px;
    background-color: #f00; /* Example color for the button */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.flashcard {
    position: absolute;
    bottom: 100%; /* Position the flashcard above the tile */
    right: 0; /* Align it to the top-right corner */
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: none;
    width: 275px;
    z-index: 10; /* Ensure it appears above other content */
    margin-bottom: 2px; /* Minimal gap above the tile */
}

.more-details:hover + .flashcard {
    display: block; /* Show flashcard when hovering over MORE DETAILS */
}


