/* POPPINS FONT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", serif;
}


.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgba(39, 39, 39, 0.4);
}

.nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    padding: 0 50px;
    background: linear-gradient(rgba(39, 39, 39, 0.6), transparent);
    z-index: 100;
}

.nav-logo p {
    color: white;
    font-size: 25px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}

.link:hover,
.active {
    border-bottom: 2px solid #fff;
}

.nav-button .btn {
    width: 130px;
    margin: 10px;
    height: 40px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-button .btn:hover {
    background: rgba(255, 255, 255, 0.3);
}

.nav-button .btn.white {
    background: rgba(255, 255, 255, 0.7);
}

.nav-button .btn.white:hover {
    background: rgba(255, 255, 255, 0.5);
}

.form-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}

.login-container,
.register-container {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease-in-out;
}

.login-container {
    left: 0;
}

.register-container {
    right: 0;
}

.top span {
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.top span a {
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
    text-decoration: none;
}

header {
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}

.two-forms {
    display: flex;
    gap: 10px;
}

.two-forms .input-box {
    flex: 1;
}

.input-field {
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 15px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
    background: rgba(255, 255, 255, 0.25);
}

.input-box {
    margin-bottom: 15px;
}

.error {
    color: red;
    font-size: 12px;
}

.submit {
    font-size: 15px;
    font-weight: 500;
    color: black;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255, 255, 255, 0.7);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.submit:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 540px) {
    .wrapper {
        min-height: 100vh;
    }

    .form-box {
        width: 100%;
        height: 500px;
    }

    .register-container,
    .login-container {
        padding: 0 20px;
    }

    .register-container .two-forms {
        flex-direction: column;
        gap: 0;
    }
}

img {
    width: 50px;
}
